body{
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 3%;
}

.mainmenu{
    background-color: rgb(250, 241, 230);
    padding: 8px 0; 
    padding-left: 8px; 
    overflow: hidden;
    border-radius: 12px;
}

.mainmenu a {
    float: left;
    color: #292828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    border-radius: 5px;
}

.mainmenu a:hover {
    background-color: rgb(228, 147, 147);
    color: black;
  }
  
.mainmenu a.active {
    background-color: #9ccebc;
    color: black;
  }

table{
    border: 3px double;
    padding: 10px 20px;
    font-size: 16px;
    background-color: beige;
    width: 80%;
    border-radius: 5px;
    table-layout: fixed;
}

th,td{
    padding: 10px;
    text-align: center;
}
.info .infoo{
    padding: 10p 20px;
    margin: -2px;
}

tr:hover {
    background-color: rgb(233, 169, 194)
}

@media screen and (min-width: 420px) {
    body {
    }
}


@media screen and (min-width: 794px){
    body{
    }
}

@media screen and (min-width: 1020px){
    body{
        background: rgb(75, 143, 199);
    }
}