body{
    background: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  li {
    color: #666;
    display: inline;
  }

.mainmenu{
    background-color: rgb(250, 241, 230);
    padding: 8px 0;
    margin-left: 8px; 
    padding-left: 8px; 
    overflow: hidden;
}

.mainmenu a {
    float: left;
    color: #292828;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mainmenu a:hover {
    background-color: rgb(228, 147, 147);
    color: black;
  }
  
.mainmenu a.active {
    background-color: #9ccebc;
    color: black;
  }

.div-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
}

.slider-button {
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: rgb(60, 207, 15);
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}

.slider-button:hover {
    color: rgb(176, 225, 169)
}

#rubriker{
    margin: 25px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media screen and (min-width: 420px) {
    body {
    margin: 2px;
    }
}


@media screen and (min-width: 794px){
    body{
        margin: 10px;
    }
}

@media screen and (min-width: 1020px){
    body{
        background: rgb(75, 143, 199);
        margin: 20px;
        max-width: 90%; 
    }
}